﻿@* Id of the modal *@
@model Uniwiki.Server.WebApplication.Post.AddPostPage.PostFileComponentViewModel

<div class="mb-2 d-inline-block mr-2" id="@Model.PostFileComponentId">
	<div class="d-flex btn-group">
		<a class="flex-grow-1 text-left btn btn-light text-primary font-weight-bold"  href="@Model.DownloadPostFileRoute" target="_blank">
			@if (Model.IsImage)
			{
				<i class="fas fa-image mr-2"></i>
			}
			else
			{
				<i class="fas fa-download mr-2"></i>
			}
			<span name="@Model.FileNameElementName">
				@Model.FileName
			</span>
		</a>
		<div class="btn-group border-left border-white">
			<button class="btn btn-light text-dark rounded-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-ellipsis-h"></i>
			</button>
			<div class="dropdown-menu dropdown-menu-right rounded">
				<button class="dropdown-item" type="button" data-toggle="modal" data-target="#@Model.ModalId">
					<i class="fas fa-pen mr-3"></i>Rename
				</button>
				<button class="dropdown-item text-danger" type="button" onclick="removeFile({ postFileComponentId: '@Model.PostFileComponentId', removeFileUrl: '@Model.RemovePostFileRoute' })">
					<i class="fas fa-trash mr-3"></i>Remove
				</button>
			</div>
		</div>
	</div>

	@* Rename Modal *@
	<div class="modal fade border-0" id="@Model.ModalId" tabindex="-1" aria-labelledby="selectCategoryModalModalLabel" aria-hidden="true">
		<div class="modal-dialog bg-transparent">
			<div class="modal-content bg-transparent border-0">
				<div class="modal-header bg-primary text-white border-0">
					<h5 class="modal-title">Rename a file</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span class="text-white" aria-hidden="true">
							<i class="fas fa-times"></i>
						</span>
					</button>
				</div>
					<div class="modal-body bg-white">
						<partial name="Components/_Subheader" model="@("File name")" />
						<input class="form-control" type="text" value="@Model.FileNameWithoutExtension" required name="@nameof(Model.RenamePostFileForm.FileName)" />
						<span>
							Originally:
							<strong>@Model.FileNameWithoutExtension</strong>
						</span>
					</div>
					<div class="modal-footer justify-content-between bg-light">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary" onclick="renamePostFileOnSubmit(event,
	{
		renamePostFileUrl: '@Model.RenamePostFileRoute',
		postFileComponentId: '@Model.PostFileComponentId',
		fileNameInputName: '@nameof(Model.RenamePostFileForm.FileName)',
		postFileComponentNameElementName: '@Model.FileNameElementName',
		postFileExtension: '@Model.FileNameExtension',
		modalId: '@Model.ModalId'
	})">Confirm</button>
					</div>
				</div>
		</div>
	</div>
	@* /Rename Modal *@


</div>