﻿@model Uniwiki.Server.WebApplication.Uni.Shared.PostBarViewModel

<div class="row no-gutters">
	<div class="col-4" style="padding-right: 0.50rem">
		<button class="post-button @(Model.IsLikedByUser ? "post-button-active" : string.Empty) w-100"
				likeRouteTrue="@Model.LikePostRouteTrue"
				likeRouteFalse="@Model.LikePostRouteFalse"
				onclick="likePost(event)">
			<i class="fas fa-star"></i>
			<span>@Model.LikesCount</span>
		</button>
	</div>
	<div class="col-4" style="padding-left: 0.25rem; padding-right: 0.25rem">
		<a class="post-button @(Model.IsCommentedByUser ? "post-button-active" : string.Empty) w-100" href="@Model.PostPageRoute">
			<i class="fas fa-comment"></i>
			@Model.CommentsCount
		</a>
	</div>
	<div class="col-4" style="padding-left: 0.50rem;">
		<button class="post-button w-100" onclick="handleCopyPostLink(event)" linkToCopy="@Model.PostPageRoute">
			<i class="fas fa-share"></i>
			<span class="post-button-copy">Get link</span>
			<span class="post-button-copied">Copied!</span>
		</button>
	</div>
	@*<div class="col-4" style="padding-left: 0.50rem">
		<a class="btn btn-primary w-100"
		   href="@Model.PostPageRoute"
		   type="button">
			<i class="fas fa-download mr-3"></i> Show 5 Files
		</a>
	</div>*@
</div>