﻿@model Uniwiki.Server.WebApplication.Uni.CoursePage.PostItemViewModel

<div class="thin-container mb-3">
	<div class="bg-white shadow rounded">
		<div class="px-4 pt-4">
			<div class="d-flex justify-content-between align-items-center">
				<a class="btn btn-light d-flex align-items-center" href="@Model.AuthorRoute">
					@if (Model.AuthorImageRoute != null)
					{
						<img src="@Model.AuthorImageRoute"
						     class="rounded-circle border border-light mr-2"
						     style="width: 2.5rem; height: 2.5rem; object-fit: cover"/>
					}
					<div>
						<span class="text-primary font-weight-bold">@Model.AuthorFullName</span>
					</div>
				</a>
				<div class="text-right d-flex flex-column">
					@if (!string.IsNullOrWhiteSpace(Model.Category))
					{
						<h5 class="my-0">
							@Model.Category
						</h5>
					}
					<span class="text-secondary mt-2">
						@Model.CreationTime
					</span>
				</div>
			</div>

			<blockquote class="blockquote text-left mt-4 mb-0">
				<p class="mb-0 dont-break-out" style="white-space: pre-wrap">@Model.Text</p>
				@if (Model.TextIsTrimmed)
				{
					<a class="btn btn-light text-primary font-weight-bold mt-3" href="@Model.PostPageRoute">
						<i class="fas fa-chevron-right mr-2"></i>
						Continue reading
					</a>
				}
			</blockquote>
		</div>
		
		@if (Model.PostImages.Any())
		{
			<div class="mt-4">
				<!-- Slider main container -->
				<div class="swiper-container">
					<!-- Additional required wrapper -->
					<div class="swiper-wrapper">
						@foreach (var image in Model.PostImages)
						{
							<div class="swiper-slide ml-4" style="width: auto; height: 100%; max-height: 100%; max-width: 70%">
								<a class="mh-100 d-inline" data-fancybox="gallery-@Model.PostPageRoute.PostUrl" href="@image.DownloadPostFileRoute">
									<img class="d-inline" style="width: auto; height: 100%; max-width: 100%; max-height: 100%; object-fit: contain" src="@image.DownloadPostFileRoute">
								</a>
							</div>
						}
					</div>
					<!-- If we need pagination -->
					@*<div class="swiper-pagination"></div>*@

					<!-- If we need navigation buttons -->
					<div class="swiper-button-prev d-flex px-2">
						<i class="fas fa-chevron-left my-auto fa-2x px-md-4"></i>
					</div>
					<div class="swiper-button-next d-flex px-2 px-md-4">
						<i class="fas fa-chevron-right my-auto fa-2x"></i>
					</div>

					<!-- If we need scrollbar -->
					@*<div class="swiper-scrollbar"></div>*@
				</div>
			</div>
		}


		@*<div class="col-4" style="padding-right: 0.50rem">
			<button class="post-button @(Model.IsLikedByUser ? "post-button-active" : string.Empty) w-100"
					likeRouteTrue="@Model.LikePostRouteTrue"
					likeRouteFalse="@Model.LikePostRouteFalse"
					onclick="likePost(event)">
				<i class="fas fa-star"></i>
				<span>@Model.LikesCount</span>
			</button>
		</div>*@


		<div class="rounded bg-white p-4">
			@*<partial name="Components/PostBarComponent" model="@Model.PostBarViewModel" />*@
			<div class="d-flex align-items-center">
				<button class="post-button d-flex align-items-center @(Model.PostBarViewModel.IsLikedByUser ? "post-button-active" : string.Empty)" type="button"
				        onclick="likePost({ event: event, likeUrlFalse: '@Model.PostBarViewModel.LikePostRouteFalse', likeUrlTrue: '@Model.PostBarViewModel.LikePostRouteTrue' })">
					<i class="fas fa-thumbs-up mr-2"></i>
					<span class="font-weight-bold my-auto">@Model.PostBarViewModel.LikesCount</span>
				</button>
				<a class="post-button d-flex align-items-center ml-3 @(Model.PostBarViewModel.IsCommentedByUser ? "post-button-active" : string.Empty)" href="@Model.PostPageRouteComments">
					<i class="fas fa-comment mr-2"></i>
					<span class="font-weight-bold my-auto">@Model.PostBarViewModel.CommentsCount</span>
				</a>

				<div class="ml-auto">
					<a class="btn btn-primary" href="@Model.PostPageRouteFiles">
						@if (Model.FilesCount == 0)
						{
							<i class="fas fa-eye mr-2"></i>
							<span>Show Post</span>
						}
						else if (Model.FilesCount == 1)
						{
							<i class="fas fa-file-alt mr-2"></i>
							<span>Show <strong>1</strong> file</span>

						}
						else
						{

							<i class="fas fa-file-alt mr-2"></i>
							<span>Show <strong>@Model.FilesCount</strong> files</span>
						}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>