﻿@model Uniwiki.Server.WebApplication.Uni.PostPage.PostCommentViewModel

<div class="post-comment-component mb-1">
	<div class="d-flex">
		<a class="flex-shrink-0 mr-2 my-auto post-comment-component-profile-image" href="@Model.AuthorPageRoute">
			@if (Model.AuthorImageRoute != null)
			{
				<img src="@Model.AuthorImageRoute"
				     class=" sending-failed-border rounded-circle"
				     style="width: 1.8rem; height: 1.8rem; object-fit: cover"/>
			}
		</a>
		<div class="d-flex">
			<div class="p-3 bg-light rounded">
				<a class="text-primary font-weight-bold mr-2" href="@Model.AuthorPageRoute">@Model.AuthorDisplayName</a>
				<span class="dont-break-out" name="commentText">@Model.Text</span>
				<div class="d-flex">
					<small class="mt-2 text-secondary mr-2">@Model.CreationTime</small>
					<button class="post-comment-like-button my-auto ml-auto flex-shrink-0 btn-link btn-sm @(Model.IsLikedByUser ? "post-comment-like-button-active" : string.Empty)"
					        likeRouteTrue="@Model.LikePostCommentRouteTrue"
					        likeRouteFalse="@Model.LikePostCommentRouteFalse"
					        type="button"
					        onclick="likePostComment(event)">
						<i class="fas fa-thumbs-up mr-1"></i>
						<span class="font-weight-bold">@Model.LikesCount</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	
</div>
