﻿@model Uniwiki.Server.WebApplication.Uni.PostPage.PostCommentViewModel

<div class="post-comment-component mb-1">
	<div class="d-flex">
		<div class="mr-4 ml-4 flex-shrink-0"></div>
		<div class="flex-grow-1 d-flex">
			<div class="ml-auto rounded sending-failed-border">
				<div class="rounded sending-failed-border-white">
					<div class="p-3 bg-primary text-white rounded">
						<span class="dont-break-out" name="commentText">@Model.Text</span>

						<div class="d-flex justify-content-center mt-2" style="color: #aaf">
							<small class="mr-3">@Model.CreationTime</small>
							<small style="color: #aaf" class="my-auto ml-auto flex-shrink-0">
								<i class="fas fa-thumbs-up mr-1"></i>
								<span class="font-weight-bold">@Model.LikesCount</span>
							</small>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		@if (Model.AuthorImageRoute != null)
		{
			<img src="@Model.AuthorImageRoute"
			     class="post-comment-component-profile-image sending-failed-border rounded-circle border border-light flex-shrink-0 ml-2 my-auto"
			     style="width: 1.8rem; height: 1.8rem; object-fit: cover"/>
		}
	</div>
	<div class="sending-failed-bottom d-none align-items-center justify-content-end">
		<span class="text-danger">Failed to deliver.</span>
		<button class="btn btn-link text-danger" onclick="repeatAddPostComment(event)">Repeat</button>
	</div>
</div>