﻿@model Uniwiki.Server.WebApplication.Error.NotFoundPage.NotFoundPageViewModel

@{
	Layout = "_PageLayout";
}

<div class="thin-container text-center">
	<h3 class="">@Model.Message</h3>
	<button class="btn btn-primary mt-5" type="button" onclick="window.history.back();">Go back</button>
</div>