﻿@model Uniwiki.Server.WebApplication.Shared.ViewModels.PageLayoutViewModel
@{
	Layout = "_Layout";
	ViewData["Title"] = Model.Title;
}

<div class="thin-container">
	<div class="top-bar-container animated fadeInDown">
		@if (Model.BackRoute == null)
		{
			<button class="top-bar-back-button border-0" type="button" onclick="window.history.back()">
				<i class="fas fa-arrow-left"></i>
			</button>
		}
		else
		{
			<a class="top-bar-back-button border-0" href="@Model.BackRoute">
				<i class="fas fa-arrow-left"></i>
			</a>
		}
		<h1 class="top-bar-header">@Model.Title</h1>

		@await RenderSectionAsync("PageLayoutMenu", false)
		@if (!IsSectionDefined("PageLayoutMenu"))
		{
			<span class="top-bar-back-button-placeholder border-0 d-none d-md-inline-block">
				<i class="fas fa-arrow-left"></i>
			</span>
		}
	</div>
</div>
@RenderBody()

@section Scripts
{
	@await RenderSectionAsync("Scripts", false);
}
