﻿@model Uniwiki.Server.WebApplication.Shared.ViewModels.LayoutViewModel
@using Uniwiki.Server.WebApplication.Uni.HomePage
@using Uniwiki.Server.WebApplication.Admin.AdminDashboardPage
@using Uniwiki.Server.WebApplication.Shared.Services
@using Uniwiki.Server.WebApplication.User.Shared.ViewModels
@using Uniwiki.Server.WebApplication.User.UserMessagesPage

@inject IUserInfoService UserInfoService
@* TODO: Create separate partials for the authentication UI (or create 2 layouts) *@

@{
	Layout = "_RootLayout";
	var userInfo = UserInfoService.GetUserInfo();

	// TODO: Move all of this away
	var signInUpModalViewModel = userInfo == null ? new SignInUpModalViewModel() : null;
	var notificationsModal = userInfo == null ? null : new UserNotificationsModalViewModel();
	var notificationsCount = userInfo?.NotificationsCount;
	var userNotificationCountId = "userNotificationCountId";
	var userMessagesPageRoute = userInfo == null ? null : new UserMessagesPageRoute();
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	@* TODO: Use some clever bundler to bundle all the CSS together *@
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" />
	<link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap-reboot.min.css" />
	<link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
	<link rel="stylesheet" href="~/css/fancybox.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
<div class="min-vh-100 d-flex flex-column">
	<header>
		<nav class="">
			<div class="container d-flex align-items-center py-2 border-bottom">
				@if (userInfo?.UserClaims.UserRoles.IsAdministrator ?? false)
				{
					<a class="btn btn-link mx-0 px-0" href="@(new AdminDashboardPageRoute())"><i class="fas fa-users-cog fa-lg"></i></a>
				}

				<a class="btn btn-link btn-lg" href="@(new HomePageRoute())">Uniwiki</a>

				@if (signInUpModalViewModel != null)
				{
					<button class="ml-auto btn btn-link" type="button" data-toggle="modal" data-target="#@signInUpModalViewModel.ModalId">Account</button>
				}
				else
				{
					<div class="ml-auto">
						<a class="btn btn-light ml-2" href="@userInfo!.UserClaims.FullProfileUrl">
							@if (userInfo.UserClaims.FullProfileImageUrl != null)
							{
								<img class="rounded-circle border border-light mr-2" style="width: 1.4rem; height: 1.4rem; -webkit-object-fit: cover; object-fit: cover" src="@userInfo.UserClaims.FullProfileImageUrl" alt="Profile picture"/>
							}
							@userInfo.UserClaims.FirstName
						</a>

						<button class="btn btn-light ml-2"
						        data-toggle="modal"
						        data-target="#@notificationsModal!.ModalId">
							<i class="far fa-bell fa-lg"></i>
							<span class="font-weight-bold" id="@userNotificationCountId">
								@if (notificationsCount > 0)
								{
									@notificationsCount
								}
							</span>
						</button>
						<a class="btn btn-light ml-2" href="@userMessagesPageRoute">
							<i class="far fa-comment-dots fa-lg"></i>
						</a>
					</div>
				}
			</div>
		</nav>
	</header>
	<main role="main" class="flex-grow-1 d-flex flex-column">
		@RenderBody()
	</main>
</div>
<partial name="Partials/_Footer"/>
@if (signInUpModalViewModel != null)
	{
		<partial name="Modals/SignInUpModal" model="@signInUpModalViewModel" />
	}
	@if (notificationsModal != null)
	{
		<partial name="Modals/UserNotificationsModal" model="@notificationsModal" />
	}
	<div id="fb-root"></div>
	@* TODO: Use a clever bundler to bundle all the JavaScript together *@
	@* TODO: Use a smarter manager of modules - use imports instead of the way it is now *@
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v9.0&appId=457787865226042&autoLogAppEvents=1" nonce="7gjNIuL8"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/lib/popper.js/umd/popper.min.js"></script>
	<script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@* TODO: Move this somewhere else... *@
	@if (notificationsModal != null)
	{
		<script>
		$('#@notificationsModal.ModalId').on('show.bs.modal',
			function() {
				handleOpeningModal({
					notificationsContainerId: '@notificationsModal.NotificationsContainerId',
					notificationsCountId: '@userNotificationCountId',
					fetchNotificationsButtonId: '@notificationsModal.FetchNotificationsButtonId',
					fetchPostsUrl: '@notificationsModal.FetchUsersNotificationsRoute'
				});
			});
		</script>
	}
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
