﻿@model Uniwiki.Server.WebApplication.Shared.ViewModels.ModalViewModel
@{
	Layout = "_RootLayout";
}

<div class="modal fade border-0" 
     id="@Model.ModalId" 
     tabindex="-1" 
     aria-labelledby="title-@Model.ModalId" 
     aria-hidden="true" 
     data-backdrop="@((Model.IsClosableOnBackgroundClick ? "true" : "static").ToString())" 
     data-keyboard="@(Model.IsClosableOnBackgroundClick.ToString().ToLower())">
	<div class="modal-dialog bg-transparent">
		<div class="modal-content bg-transparent">
			<div class="bg-primary d-flex justify-content-between p-4">
				<h3 class="text-white m-0" id="title-@Model.ModalId">@Model.Title</h3>
				@if (IsSectionDefined("CloseButton"))
				{
					@await RenderSectionAsync("CloseButton")
				}
				else
				{
					<button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
						<span class="text-white" aria-hidden="true">
							<i class="fas fa-times"></i>
						</span>
					</button>
				}
			</div>
			@RenderBody()
		</div>
	</div>
</div>


