﻿@model Uniwiki.Server.WebApplication.Shared.ViewModels.GoogleFormPageViewModel
@{
	Layout = "_PageLayout";
}

<div class="form-container">
	<iframe src="@Model.FormUrl" width="640" height="870" frameborder="0" marginheight="0" marginwidth="0">
		Loading…
	</iframe>
</div>