﻿@model Uniwiki.Server.WebApplication.Admin.AddFacultyPage.AddFacultyPageViewModel
@{
	ViewData["Title"] = Model.Title;
}

<div class="form-container">
	<form method="post" action="@Model.AddFacultyRoute">
		<div class="form-group">
			<label asp-for="AddFacultyPageForm.FacultyLongName">Full name</label>
			<input class="form-control" type="text" asp-for="AddFacultyPageForm.FacultyLongName" />
			<small>e.g. Faculty of information technology</small>
		</div>
		<div class="form-group">
			<label asp-for="AddFacultyPageForm.FacultyShortName">Shortcut</label>
			<input class="form-control" type="text" asp-for="AddFacultyPageForm.FacultyShortName" />
			<small>e.g. FIT</small>
		</div>
		<div class="form-group">
			<label asp-for="AddFacultyPageForm.FacultyUrl">Url</label>
			<input class="form-control" type="text" asp-for="AddFacultyPageForm.FacultyUrl" />
			<small>e.g. fit</small>
		</div>
		<div class="form-group">
			<label asp-for="AddFacultyPageForm.PrimaryLanguage">Language</label>
			<select class="form-control" asp-for="AddFacultyPageForm.PrimaryLanguage" asp-items="Model.Languages" required></select>
		</div>
		<div class="form-group text-center">
			<button class="btn btn-primary" type="submit">Submit</button>
		</div>
		<input type="hidden" asp-for="AddFacultyPageForm.UniversityId" />
	</form>
</div>
