﻿@model Uniwiki.Server.WebApplication.Admin.AddUniversityPage.AddUniversityPageViewModel
@{
	ViewData["Title"] = Model.Title;
}

<div class="form-container">
	<form method="post" action="@Model.AddUniversityRoute">
		<div class="form-group">
			<label asp-for="AddUniversityPageForm.LongName">Full name</label>
			<input class="form-control" type="text" asp-for="AddUniversityPageForm.LongName" />
			<small>e.g. Czech Technical University in Prague</small>
		</div>
		<div class="form-group">
			<label asp-for="AddUniversityPageForm.ShortName">Shortcut</label>
			<input class="form-control" type="text" asp-for="AddUniversityPageForm.ShortName"/>
			<small>e.g. CTU</small>
		</div>
		<div class="form-group">
			<label asp-for="AddUniversityPageForm.Url">Url</label>
			<input class="form-control" type="text" asp-for="AddUniversityPageForm.Url"/>
			<small>e.g. ctu</small>
		</div>
		<div class="form-group text-center">
			<button class="btn btn-primary" type="submit">Submit</button>
		</div>
	</form>
</div>
