﻿@model Uniwiki.Server.WebApplication.Admin.AdminDashboardPage.AdminDashboardPageViewModel
@{
	ViewData["Title"] = Model.Title;
}

<div class="thin-container">
	<h3>
		Number of users: @Model.UsersCount
	</h3>
	<div class="mt-3">
		<a class="btn btn-secondary" href="@Model.AddUniversityPageRoute">Add university</a>
	</div>
	<div>
		@foreach (var university in Model.AddFacultyLinks)
		{
			<a class="btn btn-secondary mt-2" href="@university.AddFacultyPageRoute">Add faculty - @university.UniversityLongName</a>
		}
	</div>
</div>
