[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

[type="file"] + label {
    cursor: pointer;
    display: inline-block;
    @extend .btn;
    @extend .btn-primary;
    /*@extend .text-primary;*/
    /*@extend .font-weight-bold;*/
}

[type="file"]:focus + label,
[type="file"] + label:hover {
}

[type="file"]:focus + label {
}
