﻿@model Uniwiki.Server.WebApplication.Uni.SelectCoursePage.CourseItemViewModel

<div 
	class="course-item input-group mb-3  @(Model.NotificationsOn ? "course-item-notification-on" : "course-item-notification-off")" 
	role="group" 
	aria-label="Basic example"
	set-notifications-on-url="@(Model.SubscribeToNotificationsRoute)" 
	set-notifications-off-url="@(Model.UnsubscribeToNotificationsRoute)"
	search-text="@Model.SearchText">
	<div class="input-group-prepend">
		<button type="button"
				class="btn course-item-bell h-auto  border-right-0"
				onclick="courseItemClick(event)">
			<i class="icon-off px-1 fas fa-bell-slash"></i>
			<i class="icon-on px-1 fas fa-bell px-2"></i>
		</button>
	</div>
	<a type="button" class="course-item-button text-left form-control h-auto py-3" href="@Model.CourseRoute" style="border-left-color: #bbb">@Model.DisplayName</a>
</div>