﻿@model Uniwiki.Server.WebApplication.Profile.ProfilePage.ProfilePageViewModel
@{
	Layout = "_PageLayout";
	ViewData["Title"] = "Profile of " + Model.FirstName + " " + Model.FamilyName;
}

<div class="form-container">
	<div class="text-center d-flex flex-column align-items-center">
		<img src="@Model.AuthorImageRoute"
		     class=" sending-failed-border rounded-circle"
		     style="width: 10rem; height: 10rem; object-fit: cover" />
		<button class="btn btn-light text-primary font-weight-bold mt-3">Update photo</button>
	</div>
	<div class="d-flex mt-5 justify-content-center text-center">
		<div>
			<h1>@Model.PostsCount</h1>
			<span>Posts</span>
		</div>
		<div class="mx-5">
			<h1>@Model.StarsCount</h1>
			<span>Stars</span>
		</div>
		<div>
			<h1>@Model.UsersCount</h1>
			<span>Users <button class="btn btn-link btn-sm my-0" data-toggle="modal"
			                    data-target="#@Model.UsersInfoModalViewModel.ModalId"><i class="fas fa-question-circle"></i></button></span>
		</div>
	</div>
	@if (Model.IsUsersProfile)
	{
		<form class="mt-3" method="post" action="@Model.SignOutRoute">
			<button class="btn btn-light font-weight-bold text-primary" type="submit">Sign out</button>
		</form>
	}
	<a class="btn btn-light font-weight-bold text-primary mt-3" href="@Model.ReportUserRequestPageRoute">Report user</a>
	<div>
		@if (Model.ProfilePageHomeFaculty != null && Model.SelectCoursePageRoute != null)
		{
			<h3>Studying</h3>
			<a class="btn btn-light font-weight-bold text-primary" 
			   href="@Model.SelectCoursePageRoute.Build()"
			   >@Model.ProfilePageHomeFaculty.UniversityShortName - @Model.ProfilePageHomeFaculty.FacultyLongName</a>
		}
	</div>
</div>
<partial name="Modals/UsersInfoModal" model="@Model.UsersInfoModalViewModel"/>