﻿@{
	Layout = "_PageLayout";
	ViewData["Title"] = "Sign in / up";
}

<div class="container my-auto text-center">
	<h3 class="mb-5">
		To access this page you need to
	</h3>
	<button class="btn btn-primary mb-5" data-toggle="modal" data-target="#signInUpModal">Sign in / up</button>
</div>
