﻿@using Microsoft.Extensions.Options
@using Uniwiki.Server.WebApplication.Shared.Configurations
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@using Uniwiki.Server.WebApplication.User.Shared.Dtos
@model Uniwiki.Server.WebApplication.User.Shared.ViewModels.SignInUpModalViewModel
@inject IOptions<AuthenticationOptions> AuthenticationOptions
@inject IWebHostEnvironment WebHostEnvironment
@{
	Layout = "_ModalLayout";
	var signInUpStepsId = "signInUp-steps";
	var emailInputId = "emailInputId";
	var codeInputId = "codeInputId";
	var submitCodeButtonId = "submitCodeButtonId";
	var changeEmailButtonId = "changeEmailButtonId";
	var verificationCodeSectionId = "verificationCodeSectionId";
	var signUpSectionId = "signUpSectionId";
	var sendCodeAgainButtonId = "sendCodeAgainButtonId";
	var signInUpCurrentStep0Class = "signInUp-current-step-0";
	var signInUpCurrentStep1Class = "signInUp-current-step-1";
	var signInUpCurrentStep2Class = "signInUp-current-step-2";
	var signInUpCurrentStep3Class = "signInUp-current-step-3";
	var errorMessageId = "errorMessageId";
	var nameInputId = "signInUpNameInputId";
	var surnameInputId = "signInUpSurnameInputId";
	var signUpButtonId = "signUpButtonId";
}

<div class="@signInUpCurrentStep0Class" id="@signInUpStepsId">
	<div class="modal-body bg-white">
		<div class="fb-login-button w-100" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="true" data-onlogin="signInUpViaFacebook('@Model.SignInUpViaFacebookRoute', arguments[0])"></div>

		<section class=" mt-3 d-flex align-items-center">
			@*<label class="h5 my-3" asp-for="SignInUpViaEmailForm.Email">Or use your Email</label>*@
			<input class="form-control flex-grow-1" id="@emailInputId" name="email" type="email" required="true" placeholder="Via email" asp-for="SignInUpViaEmailForm.Email" oninput="handleEmailOnInput({
				event: event,
				submitEmailButtonId: '@Model.SubmitEmailButtonId',
				errorMessageId: '@errorMessageId'
				})" onfocus="handleEmailOnFocus({ stepsId: '@signInUpStepsId', step0Class: '@signInUpCurrentStep0Class', step1Class: '@signInUpCurrentStep1Class' })"
				   onblur="handleEmailOnBlur({ event: event, stepsId: '@signInUpStepsId', step0Class: '@signInUpCurrentStep0Class', step1Class: '@signInUpCurrentStep1Class' })" />
			<button class="btn btn-light font-weight-bold text-primary ml-2" id="@changeEmailButtonId" type="button"
					onclick="signInUpViaEmailChangeEmail({ stepsId: '@signInUpStepsId', errorMessageId: '@errorMessageId', step0Class: '@signInUpCurrentStep0Class', step1Class: '@signInUpCurrentStep1Class', step2Class: '@signInUpCurrentStep2Class', emailInputId: '@emailInputId' })">
				Change&nbsp;email
			</button>
		</section>

		<section class="form-group mt-4 mb-0" id="@verificationCodeSectionId">
			<label class="mb-0" asp-for="SignInUpViaEmailEnterCodeForm.Code">Verification code from your email</label>
			<div class="d-flex flex-grow-1 align-items-center mt-3">
				<input class="form-control col-4 text-center text-primary font-weight-bold pr-0"
					   id="@codeInputId"
					   style="letter-spacing: 10px"
					   name="verification-code"
					   autocomplete="off"
					   type="text"
					   pattern="\d*"
					   asp-for="SignInUpViaEmailEnterCodeForm.Code"
					   onkeypress='return event.charCode >= 48 && event.charCode <= 57' required="true"
					   maxlength="4"
					   placeholder="••••"
					   oninput="handleCodeOnInput({
						codeInputId: '@codeInputId',
						submitCodeButtonId: '@submitCodeButtonId',
						codeLengthMax: @AuthenticationOptions.Value.EmailVerificationCodeLength
						})" />
			</div>
			<small class="font-weight-bold">The code is '1111'</small>

		</section>

		<section id="@signUpSectionId">
			<div class="form-group mt-4">
				<label for="@nameInputId">Name</label>
				<input class="form-control" name="first-name" type="text" id="@nameInputId" />
			</div>
			<div class="form-group">
				<label for="@surnameInputId">Surname</label>
				<input class="form-control" name="surname" type="text" id="@surnameInputId" />
			</div>
		</section>

		<span class="text-danger" id="@errorMessageId">

		</span>
	</div>

	<div class="signInUp-buttons signInUp-buttons-1">
		<div class="d-flex justify-content-center bg-light rounded-bottom p-3">
			<button class="btn btn-primary @CssConstants.Status @CssConstants.StatusReady" id="@Model.SubmitEmailButtonId" type="button" onclick="signInUpViaEmailSubmit({
	submitEmailButtonId: '@Model.SubmitEmailButtonId',
	emailInputId: '@emailInputId',
	statusReadyClass: '@CssConstants.StatusReady',
	statusInProgressClass: '@CssConstants.StatusInProgress',
	sendVerificationCodeUrl: '@Model.SignInUpViaEmailRequestCodeRoute',
	errorMessageId: '@errorMessageId',
	stepsId: '@signInUpStepsId',
	step1Class: '@signInUpCurrentStep1Class',
	step2Class: '@signInUpCurrentStep2Class',
	codeInputId: '@codeInputId'
})"
					disabled>
				<div class="@CssConstants.ShowOnStatusReady">
					Sign in / up
				</div>
				<div class="d-flex align-items-center @CssConstants.ShowOnStatusInProgress">
					<div class="spinner-border spinner-border-sm mr-2" role="status">
						<span class="sr-only">Loading...</span>
					</div> Sending verification code...
				</div>
			</button>
		</div>
	</div>
	<div class="signInUp-buttons signInUp-buttons-2">
		<div class="d-flex justify-content-between bg-light rounded-bottom p-3">
			<div>
				<button class="btn btn-light text-primary font-weight-bold"
						id="@sendCodeAgainButtonId"
						type="button"
						onclick="handleSendCodeAgain({
	submitEmailButtonId: '@Model.SubmitEmailButtonId', emailInputId: '@emailInputId', statusReadyClass: '@CssConstants.StatusReady', statusInProgressClass: '@CssConstants.StatusInProgress', sendVerificationCodeUrl: '@Model.SignInUpViaEmailRequestCodeRoute', errorMessageId: '@errorMessageId', stepsId: '@signInUpStepsId', step1Class: '@signInUpCurrentStep1Class', step2Class: '@signInUpCurrentStep2Class', codeInputId: '@codeInputId'
})">
					Send the code again
				</button>
			</div>
			<button class="btn btn-primary @CssConstants.Status @CssConstants.StatusReady" id="@submitCodeButtonId" type="button" onclick="handleSubmitCode({
	errorMessageId: '@errorMessageId',
	codeInputId: '@codeInputId',
	emailInputId: '@emailInputId',
	changeEmailButtonId: '@changeEmailButtonId',
	sendCodeAgainId: '@sendCodeAgainButtonId',
	statusInProgressClass: '@CssConstants.StatusInProgress',
	statusReadyClass: '@CssConstants.StatusReady',
	submitCodeButtonId: '@submitCodeButtonId',
	signInUpViaEmailUrl: '@Model.SignInUpViaEmailRoute',
	signInCode: '@((int)SignInUpStatusCodeDto.SignedIn)',
	signUpCode: '@((int)SignInUpStatusCodeDto.SignUp)',
	step2Class: '@signInUpCurrentStep2Class',
	step3Class: '@signInUpCurrentStep3Class',
	stepsId: '@signInUpStepsId'
})" disabled>
				<div class="@CssConstants.ShowOnStatusReady">
					Submit code
				</div>
				<div class="d-flex align-items-center @CssConstants.ShowOnStatusInProgress">
					<div class="spinner-border spinner-border-sm mr-2" role="status">
						<span class="sr-only">Loading...</span>
					</div> Confirming email...
				</div>
			</button>
		</div>
	</div>
	<div class="signInUp-buttons signInUp-buttons-3">
		<div class="text-center bg-light rounded-bottom p-3">
			<button class="btn btn-primary @CssConstants.Status @CssConstants.StatusReady" id="@signUpButtonId" type="button" onclick="handleSignUpViaEmail({ statusReadyClass: '@CssConstants.StatusReady', statusInProgressClass: '@CssConstants.StatusInProgress', errorMessageId: '@errorMessageId', nameInputId: '@nameInputId', signUpViaEmailUrl: '@Model.SignUpViaEmailRoute', signUpButtonId: '@signUpButtonId', surnameInputId: '@surnameInputId', codeInputId: '@codeInputId', emailInputId: '@emailInputId' })">
				<div class="@CssConstants.ShowOnStatusReady">
					Sign up!
				</div>
				<div class="d-flex align-items-center @CssConstants.ShowOnStatusInProgress">
					<div class="spinner-border spinner-border-sm mr-2" role="status">
						<span class="sr-only">Loading...</span>
					</div> Signing up...
				</div>
			</button>
		</div>
	</div>
</div>

<script type="text/javascript">

	@*document. initializeSignInUpModalData({
		step0Class: '@signInUpCurrentStep0Class',
		stepsId: '@signInUpStepsId',
		step1Class: '@signInUpCurrentStep1Class'
	})*@
</script>