﻿@model Uniwiki.Server.WebApplication.User.Shared.ViewModels.UserNotificationsModalViewModel

@{
	Layout = "_ModalLayout";
}

<div class="modal-body bg-white">
	<div id="@Model.NotificationsContainerId">

	</div>
	<div class="text-center">
		<button class="btn btn-primary @CssConstants.Status @CssConstants.StatusReady" id="@Model.FetchNotificationsButtonId" type="button" onclick="">
			<div class="@CssConstants.ShowOnStatusReady">
				Load older notifications
			</div>
			<div class="d-flex align-items-center @CssConstants.ShowOnStatusInProgress">
				<div class="spinner-border spinner-border-sm mr-2" role="status">
					<span class="sr-only">Loading...</span>
				</div> Loading notifications...
			</div>
		</button>
	</div>
</div>
<div class="modal-footer justify-content-center bg-light">
	<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
</div>