// @use '../bootstrap/bootstrap';

.post-button-active {
    .post-button-copy {
        @extend .d-none;
    }

    .post-button-copied {
        @extend .d-inline;
    }
}

:not(.post-button-active) {

    .post-button-copied {
        @extend .d-none;
    
    }
}