// @use '../bootstrap/bootstrap';

.course-item-notification-on {

    .course-item-button {
        @extend .btn-primary;
    }

    .course-item-bell {
        @extend .btn-primary;
    }

    .icon-on {
        display: inline;
    }

    .icon-off {
        display: none;
    }
}

.course-item-notification-off {

    .course-item-button {
        @extend .btn-outline-primary;
    }

    .course-item-bell {
        @extend .btn-outline-primary;
    }

    .icon-on {
        display: none;
    }

    .icon-off {
        display: inline;
    }
}
