.top-bar-container {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-center;
    @extend .my-5;
}

.top-bar-back-button {
    @extend .btn;
    @extend .btn-outline-secondary;
    @extend .my-auto;
}

.top-bar-back-button-placeholder {
    @extend .top-bar-back-button;
    cursor: default!important;
    opacity: 0;
}

.top-bar-header {
    @extend .my-0;
    @extend .flex-grow-1;
    @extend .text-center;
}