// @use '../bootstrap/bootstrap';

.sending-failed {
    .sending-failed-border {
        @extend .border;
        @extend .border-danger;

        .sending-failed-border-white {
            border: 3px solid white;
        }
    }

    .sending-failed-bottom {
        @extend .d-flex;
    }
}

.post-comment-component:not(:first-child) .post-comment-component-profile-image {
    opacity: 0;
    pointer-events: none;
    cursor: default;
}
