// @use '../bootstrap/bootstrap';

.category-button {

    @extend .btn-outline-primary;
    @extend .btn;
    @extend .btn-block;

    &.category-selected {

        @extend .btn-primary;
    }
}

.category-input {
    @extend .form-control;

    &.category-selected {
        @extend .text-white;
        @extend .bg-primary;
    }
}
