#signInUp-steps .signInUp-buttons {
    @extend .d-none;
}

#signInUp-steps {
    &.signInUp-current-step-0 .signInUp-buttons.signInUp-buttons-1 {
        @extend .d-block;
    }

    &.signInUp-current-step-1 .signInUp-buttons.signInUp-buttons-1, &.signInUp-current-step-2 .signInUp-buttons.signInUp-buttons-2, &.signInUp-current-step-3 .signInUp-buttons-3 {
        @extend .d-block;
    }
}

#signInUp-steps.signInUp-current-step-1 .signInUp-buttons.signInUp-buttons-1 {
    @extend .d-block;
}

#signInUp-steps {
    &.signInUp-current-step-0 {
        #changeEmailButtonId, #verificationCodeSectionId, #signUpSectionId {
            @extend .d-none;
        }
    }

    &.signInUp-current-step-1 {
        #changeEmailButtonId, #verificationCodeSectionId, #signUpSectionId {
            @extend .d-none;
        }
    }

    &.signInUp-current-step-2 {
        #signUpSectionId {
            @extend .d-none;
        }
    }
}


.status {
    &.status-ready {
        .show-on-status-in-progress {
            @extend .d-none;
        }
    }

    &.status-in-progress {
        .show-on-status-ready {
            @extend .d-none;
        }
    }
}