// @use '../bootstrap/bootstrap';
.post-file-progress-bar {

    &.post-file-progress-bar-in-progress {
        .progress-bar {
            @extend .bg-primary;
        }

        .post-file-buttons-in-progress {
            @extend .d-block;
        }

        .post-file-buttons-failed {
            @extend .d-none;
        }
    }

    &.post-file-progress-bar-failed {
        .progress-bar {
            @extend .bg-danger;
        }

        .post-file-buttons-in-progress {
            @extend .d-none;
        }

        .post-file-buttons-failed {
            @extend .d-flex;
        }
    }

    &.post-file-progress-bar-success {
        .progress-bar {
            @extend .bg-success;
        }

        .post-file-buttons-in-progress {
            @extend .d-none;
        }

        .post-file-buttons-failed {
            @extend .d-none;
        }
    }
}