﻿@model Uniwiki.Server.WebApplication.Post.AddOrEditPostPage.PostAnonymouslyModalViewModel

@{
	Layout = "_ModalLayout";
}

<div class="modal-body bg-white">
	<p>
		Anonymous post is such a post, which has hidden author. So other users are not going to be able to tell, who uploaded it.
	</p>
	<p>
		<strong class="text-danger">Important!</strong> This is
		<strong>not</strong> going to result in you loosing the ownership and the responsibility for the post. Any content against the rules & conditions will have the same consequences for you as a non-anonymous post
	</p>
</div>
<div class="modal-footer justify-content-center bg-light">
	<button type="button" class="btn btn-primary" data-dismiss="modal">Understood</button>
</div>