﻿@model Uniwiki.Server.WebApplication.Post.AddPostPage.SelectCategoryModalViewModel

@{
	Layout = "_ModalLayout";
}

<div class="modal-body bg-white" category-input-id="@Model.SelectCategoryInputId" selected-category-text-id="@Model.SelectedCategoryTextId">
	@foreach (var category in Model.Categories)
	{
		<button class="category-button d-flex justify-content-between align-items-center @(Model.SelectedCategory == category.CategoryName ? "category-selected" : string.Empty)" type="button" onclick="selectCategoryByButton(event)" category="@category.CategoryName">
			@(string.IsNullOrWhiteSpace(category.CategoryName) ? "No category" : category.CategoryName)
			<span class="badge badge-light">@category.PostsCount</span>
		</button>
	}
	<input class="category-input mt-2" type="text" placeholder="Other category" oninput="selectCategoryByTextInput(event)" onfocus="categoryInputFocused(event)" />
</div>
<div class="modal-footer justify-content-center bg-white">
	<button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
</div>