﻿@model Uniwiki.Server.WebApplication.Post.AddPostPage.UploadingFilesViewModel
@{
	Layout = "_ModalLayout";
}


<div class="modal-body bg-light px-4 pt-4 pb-0 mb-0" id="uploadingFilesContainer" uploadUrl="@Model.UploadPostFileRoute">
</div>
<div class="modal-footer pt-0 justify-content-center bg-light">
	<button type="button" class="btn btn-danger px-3" onclick="handleAbortRemaining({
	modalId: '@Model.ModalId',
	uploadingFilesContainerId: '@Model.UploadingFilesContainerId'
})">
		Abort remaining
	</button>
</div>

@section CloseButton
{
	<button type="button" class="close btn" aria-label="Close" onclick="confirm('Are you sure you want to abort all the files, that are still uploading?') && handleAbortRemaining({ modalId: '@Model.ModalId', uploadingFilesContainerId: '@Model.UploadingFilesContainerId' })">
		<span class="text-white" aria-hidden="true">
			<i class="fas fa-times"></i>
		</span>
	</button>
}

@* Template for creating the uploading files *@
<div class="d-none">
	<div class="post-file-progress-bar post-file-progress-bar-in-progress mb-4 p-4 bg-white rounded" id="@Model.UploadingPostFileTemplateId">
		<div class="d-flex justify-content-between mb-3">
			<h5 class="m-0" name="fileName"></h5>
			<span class="text-secondary" name="fileSize"></span>
		</div>
		<div class="progress" style="height: 5px;">
			<div class="progress-bar" role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
		<div class="post-file-buttons-in-progress mt-3">
			<button type="button" class="btn btn-light text-primary font-weight-bold" onclick="cancelUploadingPostFile(event)"><i class="fas fa-times mr-2"></i> Cancel</button>
		</div>
		<div class="post-file-buttons-failed d-flex justify-content-between mt-3">
			<button type="button" class="btn btn-light text-danger font-weight-bold" onclick="removeUploadingPostFile({
	event: event,
	uploadingFilesContainerId: '@Model.UploadingFilesContainerId',
	modalId: '@Model.ModalId'
	})">
				<i class="fas fa-trash mr-2"></i> Remove
			</button>
			<button type="button" class="btn btn-light text-primary font-weight-bold" onclick="tryAgainUploadingPostFile(event)">
				<i class="fas fa-redo mr-2"></i> Try again
			</button>
		</div>
	</div>
</div>
@* /Template for creating the uploading files *@
