﻿.inputGroup {
    display: inline-block;
    /*position: relative;*/
    label {
        @extend .btn;
        @extend .btn-light;
        @extend .font-weight-bold;
        @extend .text-dark;
        /*width: 100%;*/
        display: flex;
        align-items: center;
        text-align: left;
        /*color: #3C454C;*/
        cursor: pointer;
        /*position: relative;*/
        z-index: 2;
        transition: color 200ms ease-in;
        overflow: hidden;
        /*&:before {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            content: '';
            background-color: #5562eb;*/
        /*position: absolute;*/
        /*left: 50%;*/
        /*top: 50%;*/
        /*transform: translate(-50%, -50%) scale3d(1, 1, 1);*/
        transition: background-color color 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        /*opacity: 0;
            z-index: -1;
        }*/
        &:before {
            @extend .rounded;
            @extend .mr-2;
            display: inline-block;
            min-width: 1.3rem;
            min-height: 1.3rem;
            content: '';
            border: 1px solid #777;
            background-color: #fff;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
            background-repeat: no-repeat;
            background-position: 63% 55%;
            background-size: 0.7rem;
            z-index: 2;
            /*position: absolute;*/
            /*right: 30px;*/
            /*top: 50%;*/
            /*transform: translateY(-50%);*/
            cursor: pointer;
            transition: all 200ms ease-in;
        }
    }

    input:checked ~ label {
        /*color: #fff;*/
        @extend .text-primary;
        @extend .font-weight-bold;
        /*@extend .mr-2;*/
        &:before {
            /*transform: translate(-50%, -50%) scale3d(56, 56, 1);*/
            opacity: 1;
        }

        &:before {
            background-color: $primary;
            border-color: $primary;
        }
    }

    input {
        /*min-width: 32px;
        min-height: 32px;*/
        order: 0;
        /*z-index: 2;*/
        /*position: absolute;*/
        /*right: 30px;*/
        /*top: 50%;*/
        /*transform: translateY(-50%);*/
        cursor: pointer;
        visibility: hidden;
        display: none;
    }
}
