// Single container class with breakpoint max-widths
.thin-container {
    @extend .px-2; 

    @include media-breakpoint-up(sm) {
        max-width: 540px; // 540px
        @include make-container();
    }

    @include media-breakpoint-up(md) {
        max-width: 720px; // 720px
        @include make-container();
    }

    @include media-breakpoint-up(lg) {
        max-width: 780px; // 960px
        @include make-container();
    }

    @include media-breakpoint-up(xl) {
        max-width: 780px; // 1140px
        @include make-container();
    }
}

// Single container class with breakpoint max-widths
.form-container {
    @extend .px-2;

    @include media-breakpoint-up(sm) {
        max-width: 350px; // 540px
        @include make-container();
    }

    @include media-breakpoint-up(md) {
        max-width: 450px; // 720px
        @include make-container();
    }

    @include media-breakpoint-up(lg) {
        max-width: 500px; // 960px
        @include make-container();
    }

    @include media-breakpoint-up(xl) {
        max-width: 500px; // 1140px
        @include make-container();
    }
}
