/*$font-size-base: 0.5rem;*/
$primary: #1E0E62;
/*$secondary: $;*/

$input-btn-padding-y: .50rem !default;
$input-btn-padding-x: 1rem !default;

$input-btn-padding-y-sm: .25rem !default;
$input-btn-padding-x-sm: .5rem !default;

$input-btn-padding-y-lg: .75rem !default;
$input-btn-padding-x-lg: 1.25rem !default;

$border-width: 1px !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px
$h1-font-size: $font-size-base * 2 !default;
$h2-font-size: $font-size-base * 1.75 !default;
$h3-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1.25 !default;
$h5-font-size: $font-size-base * 1.125 !default;
$h6-font-size: $font-size-base !default;