/*@import "_variables.scss";*/
@import "_dropdown.scss";
@import "_checkbox.scss";
@import "_typography.scss";
@import "_grid.scss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans";
}