﻿@model Uniwiki.Server.WebApplication.User.FetchUsersNotifications.UsersNotificationsItemViewModel
<a class="btn btn-light mt-3 d-block text-left" href="@Model.LinkRoute">
	<div>
		@Model.Text
	</div>
	<small>
		@* TODO: Add the time of the notification *@
		A few minutes ago
	</small>
</a>