﻿@model Uniwiki.Server.WebApplication.Post.AddOrEditPostPage.AddOrEditPostPageViewModel

@{
	ViewData["Title"] = Model.Title;
	var postAnonymouslyModalId = "postAnonymouslyModal";
}

<form class="bg-light py-4 flex-grow-1" method="post" action="@Model.AddOrEditPostRoute">
	<div class="thin-container">
		<div class="bg-white shadow rounded">
			<div class="pt-4 px-4">
				<div class="d-flex justify-content-between">
					<a class="btn btn-light d-flex align-items-center" href="@Model.ProfilePageRoute">
						@if (Model.ProfileImageRoute != null)
						{
							<img src="@Model.ProfileImageRoute"
							     class="rounded-circle border border-light mr-2"
							     style="width: 2.5rem; height: 2.5rem; object-fit: cover"/>
						}
						<span class="text-primary font-weight-bold">@Model.ProfileFullName</span>
					</a>
					<div class="text-right d-flex flex-column">
						<h5 class="my-0">
							<button class="btn btn-light btn-block d-flex justify-content-between align-items-center text-primary font-weight-bold"
									type="button"
									data-toggle="modal"
									data-target="#@Model.SelectCategoryModalViewModel.ModalId">
								<span id="@Model.SelectCategoryModalViewModel.SelectedCategoryTextId" initial-text="Select a category">
									@(string.IsNullOrWhiteSpace(Model.AddOrEditPostForm.Category) ? "Select a category" : Model.AddOrEditPostForm.Category)
								</span>
								<i class="fas fa-angle-down ml-2"></i>
							</button>
							<input type="hidden" id="@Model.SelectCategoryModalViewModel.SelectCategoryInputId" asp-for="AddOrEditPostForm.Category" />
						</h5>
					</div>
				</div>

				<div class="d-flex mt-4">
					<div class="inputGroup">
						<input type="checkbox" asp-for="AddOrEditPostForm.PostIsAnonymous" />
						<label class="m-0" asp-for="AddOrEditPostForm.PostIsAnonymous">Post anonymously</label>
					</div>

					<button class="btn btn-light mb-auto ml-2" type="button" data-toggle="modal" data-target="#@postAnonymouslyModalId">
						<i class="fas fa-question-circle"></i>
					</button>
				</div>
				<blockquote class="blockquote text-left mb-0 mt-4">
					<textarea class="form-control form-control-lg text-dark" style="box-sizing: border-box; resize: none;" data-autoresize placeholder="What are you sharing?" rows="4" asp-for="AddOrEditPostForm.Description" required></textarea>
				</blockquote>
				<div class="d-flex justify-content-between align-items-center mt-4">
					<h5 class="m-0">
						Files
					</h5>
					<div>
						<input class=""
							   type="file"
							   id="file"
							   multiple
							   onchange="handleUploadFilesSelected({
	event: event,
	templateOriginalId: '@Model.UploadingFilesViewModel.UploadingPostFileTemplateId',
	modalId: '@Model.UploadingFilesViewModel.ModalId',
	uploadedFilesContainerId: '@Model.UploadedFilesContainerId',
	uploadingFilesContainerId: '@Model.UploadingFilesViewModel.UploadingFilesContainerId',
	relativeUploadUrl: '@Model.UploadingFilesViewModel.UploadPostFileRoute'})">
						<label class="m-0" for="file">
							<i class="fas fa-file-upload mr-2"></i>
							Add files
						</label>
					</div>
				</div>
				<div class="mt-4" id="@Model.UploadedFilesContainerId">
					@foreach (var file in Model.PostFileComponentViewModels)
					{
						<partial name="Components/PostFileComponent" model="file" />
					}
				</div>
			</div>
			<hr />
			<div class="px-4 pb-4">
				<div class="text-center mt-4">
					<button class="btn btn-primary px-5" type="submit">Submit</button>
				</div>
			</div>
		</div>
	</div>
	<partial name="Modals/PostAnonymouslyInfoModal" model="@Model.PostAnonymouslyModalViewModel" />
	<partial name="Modals/SelectCategoryModal" model="@Model.SelectCategoryModalViewModel" />
	<partial name="Modals/UploadingFilesModal" model="@Model.UploadingFilesViewModel" />
</form>


@section Scripts
{
	<script>
		function addAutoResize() {
			document.querySelectorAll('[data-autoresize]').forEach(function (element) {
				element.style.boxSizing = 'border-box';
				var offset = element.offsetHeight - element.clientHeight;
				element.addEventListener('input',
					function (event) {
						resizeTextarea(event.target, offset);
					});
				resizeTextarea(element, offset);
				element.removeAttribute('data-autoresize');
			});
		}

		function resizeTextarea(textarea, offset) {
			textarea.style.height = 'auto';
			textarea.style.height = textarea.scrollHeight + 3 + offset + 'px';
		}

		addAutoResize();
	</script>
}
