﻿@model Uniwiki.Server.WebApplication.Uni.CoursePage.CoursePageViewModel

<div class="thin-container animated fadeInDown delay-2s">
	<div class="d-flex justify-content-between">
		<button type="button" class="btn btn-outline-primary rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-bell-slash mr-2"></i> Set notifications off
		</button>
		<div class="btn-group my-auto ml-auto">
			<button type="button" class="btn btn-outline-primary rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-filter mr-2"></i> Filter
			</button>
			<div class="dropdown-menu dropdown-menu-right rounded">
				<button class="dropdown-item active d-flex" type="button">
					All posts
					<span class="badge badge-light badge-pill ml-auto">45</span>
				</button>
				<button class="dropdown-item" type="button">
					Homework
				</button>
				<button class="dropdown-item" type="button">
					Exam
				</button>
				<button class="dropdown-item" type="button">
					Study material
				</button>
				<button class="dropdown-item" type="button">
					Test
				</button>
			</div>
		</div>
		<a class="btn btn-primary ml-2" href="@Model.AddPostRoute">
			<i class="fas fa-cloud-upload-alt mr-2"></i>
			Add
		</a>
		<div class="btn-group my-auto">
			<button type="button" class="btn btn-outline-primary rounded ml-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-ellipsis-v"></i>
			</button>
			<div class="prestige-dropdown-menu dropdown-menu dropdown-menu-right rounded">
				<button class="prestige-dropdown-item" type="button">
					<i class="fas fa-bell mr-3"></i>Turn on notifications for this course
				</button>
				<a class="prestige-dropdown-item" href="@Model.ReportCourseRequestPageRoute">
					<i class="fas fa-exclamation mr-3"></i>Report the course
				</a>
				<a class="prestige-dropdown-item" href="@Model.RenameCourseRequestPageRoute">
					<i class="fas fa-pen mr-3"></i>Rename the course
				</a>
			</div>
		</div>
	</div>
</div>

<div class="bg-light mt-4 pt-4 flex-grow-1">
	<div class="">
		@foreach (var post in Model.PostItems)
		{
			<partial name="Components/PostItemComponent" model="post" />
		}
	</div>
</div>

@section Scripts {
	<script>
		var mySwiper = new Swiper('.swiper-container',
			{
				slidesPerView: 'auto',
				direction: 'horizontal',
				loop: false,
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				}
			});
	</script>
}
