﻿@using Uniwiki.Server.WebApplication.Uni.PostPage
@model PostPageViewModel
@{
	ViewData["Title"] = Model.Title;
}

<div class="thin-container d-flex">
	@*<button class="btn btn-outline-primary mr-2"><i class="fas fa-bell-slash mr-2"></i> Set notifications off</button>*@
	<a class="btn btn-outline-primary ml-auto" href="@Model.EditPostPageRoute"><i class="fas fa-pen mr-2"></i> Edit post</a>
	<div class="btn-group">
		<button class="btn btn-outline-primary rounded ml-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-ellipsis-v"></i>
		</button>
		<div class="dropdown-menu prestige-dropdown-menu dropdown-menu-right rounded py-0">
			<a class="dropdown-item p-3" href="@Model.ReportPostRequestPageRoute">
				<i class="fas fa-asterisk mr-3"></i>Report inappropriate content
			</a>
			<button class="dropdown-item text-danger p-3" type="button">
				<i class="fas fa-trash mr-3"></i>Remove
			</button>
		</div>
	</div>
</div>

<div class="bg-light py-4 flex-grow-1 animated fadeInDown mt-4">
	<div class="thin-container">
		<div class="rounded bg-white shadow pb-4">
			<div class="px-4 pt-4">
				<div class="d-flex justify-content-between align-items-center animated fadeInDown delay-2s">
					<a class="btn btn-light d-flex align-items-center" href="@Model.AuthorRoute">
						@if (Model.ProfileImageRoute != null)
						{
							<img src="@Model.ProfileImageRoute"
							     class="rounded-circle border border-light mr-2"
							     style="width: 2.5rem; height: 2.5rem; object-fit: cover"/>
						}
						<div>
							<span class="text-primary font-weight-bold dont-break-out">@Model.AuthorFullName</span>
						</div>
					</a>
					<div class="text-right d-flex flex-column">
						<h5 class="my-0 dont-break-out">
							@Model.Category
						</h5>
						<span class="text-secondary mt-2 dont-break-out">
							@Model.CreationTime
						</span>
					</div>
				</div>

				<blockquote class="blockquote text-left animated fadeInDown delay-3s mb-0 mt-4">
					<p class="mb-0 dont-break-out" style="white-space: pre-wrap">@Model.Text</p>
				</blockquote>

			</div>

			@if (Model.PostImages.Any())
			{
				<!-- Slider main container -->
				<div class="swiper-container swiper-container-large animated fadeInDown delay-4s mt-4 mb-0">
					<!-- Additional required wrapper -->
					<div class="swiper-wrapper">
						@foreach (var image in Model.PostImages)
						{
							<div class="swiper-slide ml-4" style="width: auto; height: 100%; max-height: 100%; max-width: 70%">
								<a class="mh-100 d-inline"  data-fancybox="gallery" href="@image.DownloadPostFileRoute">
									<img class="d-inline" style="width: auto; height: 100%; max-width: 100%; max-height: 100%; object-fit: contain" src="@image.DownloadPostFileRoute">
								</a>
							</div>
						}

						<!-- Slides -->
						@*<a class="swiper-slide ml-4 flex-shrink-1" data-fancybox="gallery2" href="https://andypiper.files.wordpress.com/2009/04/onwriting.jpg">
							<img style="width: auto; max-height: 100%;" src="https://andypiper.files.wordpress.com/2009/04/onwriting.jpg">
						</a>
						<a class="swiper-slide ml-4 flex-shrink-1" data-fancybox="gallery2" href="https://andypiper.files.wordpress.com/2009/04/onwriting.jpg">
							<img style="width: auto; max-height: 100%;" src="https://andypiper.files.wordpress.com/2009/04/onwriting.jpg">
						</a>

						<img style="height: auto; width: auto; max-height: 100%;" class="swiper-slide ml-4" src="https://andypiper.files.wordpress.com/2009/04/onwriting.jpg"/>

						<img style="height: auto; width: auto; max-height: 100%;" class="swiper-slide ml-4" src="https://andypiper.files.wordpress.com/2009/04/onwriting.jpg"/>

						<img style="height: auto; width: auto; max-height: 100%;" class="swiper-slide ml-4" src="https://andypiper.files.wordpress.com/2009/04/onwriting.jpg"/>

						<img style="height: auto; width: auto; max-height: 100%;" class="swiper-slide ml-4" src="https://assets.telegraphindia.com/telegraph/d1782a92-6845-47ca-9939-293cf92954b0.jpg"/>

						<img style="height: auto; width: auto; max-height: 100%;" class="swiper-slide ml-4 mr-4" src="https://external-preview.redd.it/61OnpLlB2bV-P8gZ4KMexlxwLfW1GYBN_BzAB7fDsRU.jpg?width=960&crop=smart&auto=webp&s=1610338c363afc00855a49079020796620b90273"/>*@

					</div>
					<!-- If we need pagination -->
					@*<div class="swiper-pagination"></div>*@

					<!-- If we need navigation buttons -->
					<div class="swiper-button-prev d-flex px-4">
						<i class="fas fa-chevron-left my-auto fa-2x"></i>
					</div>
					<div class="swiper-button-next d-flex px-4">
						<i class="fas fa-chevron-right my-auto fa-2x"></i>
					</div>
				</div>
			}

			@if (Model.PostFiles.Any())
			{
				<div class="ml-4 animated fadeInDown delay-1s mt-4">
					<h5 class="my-4">Files</h5>

					@foreach (var file in Model.PostFiles)
					{
						<a class="btn btn-light mr-2 mb-2 ml-0 text-primary font-weight-bold" href="@file.DownloadPostFileRoute">
							<i class="fas fa-download mr-2"></i> @file.FileName
						</a>
					}
				</div>
			}

			<div class="px-4 pt-4 mb-4">
				<div class="d-flex justify-content-start animated fadeInDown delay-2s">
					<button class="post-button d-flex align-items-center @(Model.PostBarViewModel.IsLikedByUser ? "post-button-active" : string.Empty)" type="button"
					        onclick="likePost({ event: event, likeUrlFalse: '@Model.PostBarViewModel.LikePostRouteFalse', likeUrlTrue: '@Model.PostBarViewModel.LikePostRouteTrue' })">
						<i class="fas fa-thumbs-up mr-2"></i>
						<span class="font-weight-bold my-auto">@Model.PostBarViewModel.LikesCount</span>
					</button>
					<a class="post-button d-flex align-items-center ml-3 @(Model.PostBarViewModel.IsCommentedByUser ? "post-button-active" : string.Empty)" href="#@PostPageViewModel.CommentSectionId">
						<i class="fas fa-comment mr-2"></i>
						<span class="font-weight-bold my-auto">@Model.PostBarViewModel.CommentsCount</span>
					</a>
				</div>
			</div>

			<hr class="animated fadeInDown delay-2s" />

			<h5 class="ml-4 my-4 animated fadeInDown delay-2s">Comments</h5>

			<div class="px-4 animated fadeInDown delay-3s" id="@PostPageViewModel.CommentSectionId">
				@foreach (var commentGroup in Model.Comments)
				{
					<div class="mb-4 @(commentGroup.First().IsUsersComment ? "users-comments" : string.Empty)">
						@for (int i = 0; i < commentGroup.Length; i++)
						{
							if (commentGroup.First().IsUsersComment)
							{
								<partial name="Components/UsersPostCommentComponent" model="@commentGroup[i]" />
							}
							else
							{
								<partial name="Components/PostCommentComponent" model="@commentGroup[i]" />
							}
						}
					</div>
				}
			</div>

			<form class="px-4 animated fadeInDown delay-4s" onsubmit="addPostCommentOnSubmit(event)" addPostCommentUrl="@Model.AddPostCommentRoute" id="addCommentForm">
				<div class="d-flex">
					@*<img src="@Model.ProfileImageRoute"
						class="rounded-circle border border-light mr-2"
						style="width: 1.8rem; height: 1.8rem; object-fit: cover" />*@
					<div class="bg-light rounded flex-grow-1">
						<input type="text" required="true" class="form-control m-0" asp-for="AddPostCommentForm.Text" name="text" rows="2" placeholder="Type a comment..." autocomplete="off" />
					</div>
					<button class="btn btn-primary ml-2" type="submit"><i class="fas fa-paper-plane"></i></button>
				</div>
			</form>
		</div>
	</div>
</div>

@if (Model.CommentTemplate != null)
{
	@* Hidden template for creating comments *@
	<template id="commentTemplate">
		<partial name="Components/UsersPostCommentComponent" model="@Model.CommentTemplate"/>
	</template>

	<template id="commentContainerTemplate">
		<div class="users-comments mb-4"></div>
	</template>
}

@section Scripts {
	<script>
		var mySwiper = new Swiper('.swiper-container',
			{
				slidesPerView: 'auto',
				direction: 'horizontal',
				loop: false,
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				}
			});

		$.fancybox.defaults.buttons = [
			"zoom",
			"thumbs",
			"close"
		];
		$.fancybox.defaults.clickOutside = "close";

	</script>
}