﻿@model Uniwiki.Server.WebApplication.Uni.AddCoursePage.AddCoursePageViewModel

@{
	ViewData["Title"] = "Add a course";
}

<div class="form-container">
	<form method="post" action="@Model.AddCourseRoute">
		<div class="form-group animated fadeInDown delay-1s">
			<label asp-for="AddCourseForm.CourseName">Course name</label>
			<input type="text" class="form-control" aria-describedby="courseNameNote" asp-for="AddCourseForm.CourseName">
			<span asp-validation-for="AddCourseForm.CourseName" class="text-danger"></span>
			<small id="courseNameNote" class="form-text text-muted">Make sure to <strong>type the name correctly</strong>, it cannot be changed easily.</small>
		</div>
		<div class="form-group mt-4 animated fadeInDown delay-2s">
			<label asp-for="AddCourseForm.CourseCode">Course code (optional)</label>
			<input type="text" class="form-control" asp-for="AddCourseForm.CourseCode">
			<span asp-validation-for="AddCourseForm.CourseCode" class="text-danger"></span>

		</div>
		<div class="text-center mt-4 animated fadeInDown delay-3s">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
</div>
