﻿@model Uniwiki.Server.WebApplication.Uni.HomePage.HomePageViewModel
@{
	ViewData["Title"] = "Uniwiki - Home";
	Layout = "_Layout";
}

<div class="thin-container text-center flex-grow-1 d-flex">
	<div class="my-auto">
		<div class="mx-auto py-5">
			@*<div class="col-lg-6 my-auto d-none d-lg-block">
				<img class="img-fluid my-3" src="img/screens.png"/>
			</div>*@
			<h1 class="main-title text-primary pb-5 animated fadeInDown">Study&nbsp;smarter. Not&nbsp;harder.</h1>
			<p class="mb-3 text-secondary animated fadeInDown delay-1s">We help you to get study materials from previous students of your courses to make your preparation faster and easier.</p>

			@*<img class="img-fluid my-4 d-lg-none px-5" src="img/screens.png" />*@


			<h2 class="my-5 animated animated fadeInDown delay-2s">Select your university</h2>
			<div class="d-flex flex-column mx-auto animated fadeInDown delay-3s">
				@foreach (var university in Model.Universities)
				{
					<a class="btn btn-outline-primary py-3 mb-3 w-100" href="@university.Url">@university.DisplayName</a>
				}
				<a class="btn btn-link mb-3 mx-auto animated" href="@Model.AddUniversityRequestPageRoute.Build()">Missing your university?</a>
			</div>
		</div>
	</div>
</div>