﻿@{
	ViewData["Title"] = "UI Showdown";
}

<div class="container my-auto">
	<h1>This is h1</h1>
	<h2>This is h2</h2>
	<h3>This is h3</h3>
	<h4>This is h4</h4>
	<h5>This is h5</h5>
	<h6>This is h6</h6>
	<div>
		<h2>Buttons</h2>
		<button class="btn" type="button">Button</button>
		<button class="btn btn-primary" type="button">Primary button</button>
		<button class="btn btn-secondary" type="button">Secondary button</button>
		<button class="btn btn-warning" type="button">Warning button</button>
		<button class="btn btn-danger" type="button">Danger button</button>
		<button class="btn btn-link" type="button">Link button</button>
	</div>
	<div>
		<h2>Large buttons</h2>
		<button class="btn btn-lg" type="button">Button</button>
		<button class="btn btn-primary btn-lg" type="button">Primary button</button>
		<button class="btn btn-secondary btn-lg" type="button">Secondary button</button>
		<button class="btn btn-warning btn-lg" type="button">Warning button</button>
		<button class="btn btn-danger btn-lg" type="button">Danger button</button>
		<button class="btn btn-link btn-lg" type="button">Link button</button>
	</div>
</div> 
