﻿@model Uniwiki.Server.WebApplication.Uni.SelectFacultyPage.SelectFacultyPageViewModel

<div class="thin-container text-left">
	<div class="animated fadeInDown delay-1s">
		@foreach (var faculty in Model.FacultyItems)
		{
			<a class="my-3 btn btn-outline-primary btn-block text-left py-3" href="@faculty.Url">
				@faculty.DisplayName
			</a>
		}
	</div>
	<div class="animated fadeInDown delay-2s text-center">
		<a class="btn btn-link" href="@Model.AddFacultyRequestPageRoute">Missing your faculty?</a>
	</div>
</div>
