﻿@model Uniwiki.Server.WebApplication.Uni.SelectCoursePage.SelectCoursePageViewModel
@{
	ViewData["Title"] = "All courses";
}

<div class="thin-container">

	<input class="form-control form-control-lg mb-3 animated fadeInDown delay-1s" placeholder="&#x2315;  Search course..." type="text" oninput="searchCourse(event.target.value)" name="searchCourse" />
	
	<div class="d-flex animated fadeInDown delay-2s justify-content-between">
		<h2 class=" my-4">
			All courses
		</h2>
		<a class="btn btn-primary my-auto ml-2" href="@Model.AddCoursePageRoute"><i class="fas fa-plus mr-2"></i> Add a course</a>
	</div>

	<div class="animated fadeInDown delay-3s">
		@foreach (var course in Model.Courses)
		{
			<partial name="Components/_CourseItemComponent" model="course" />
		}
	</div>
</div>