﻿@using Uniwiki.Server.WebShared.Services.Abstractions
@using Uniwiki.Server.WebApplication.Shared.Services
@inject ITimeService TimeService
@inject IUserInfoService UserInfoService
@{
	var userClaims = UserInfoService.GetUserInfo()?.UserClaims;
}

<div class="bg-dark text-white text-center">
	<div class="thin-container">
		<div class="row no-gutters">  
			<div class="col-12 col-md py-4">
				<h5 class="text-white">Contact us</h5>
				<a class="text-white" href="https://www.facebook.com/UniwikiOfficial">Let us know on Facebook!</a>
			</div>
			<div class="col-12 col-md py-4">
				<h5 class="text-white">Account</h5>
				@if (userClaims == null)
				{
					<a class="text-white" href="#">Sign in / up</a>
				}
				else
				{
					<div class="d-flex flex-column">
						<a class="text-white" href="#">Your profile</a>
						<a class="text-white" href="#">Logout</a>
					</div>
				}
			</div>
			<div class="col-12 col-md py-4">
				<h5 class="text-white">Navigation</h5>
				<a class="text-white" href="#">Home</a>
			</div>
		</div>
	</div>
</div>
<div class="text-center text-muted py-3" style="background-color: #111">
	&copy; @TimeService.Now.Year - Uniwiki
</div>