﻿@model Uniwiki.Server.WebApplication.Profile.ProfilePage.UsersInfoModalViewModel

@{
	Layout = "_ModalLayout";
}

<div class="modal-body bg-white">
	<p>
		This is the number of people, who signed up after accessing Uniwiki by one of your links.
	</p>
</div>
<div class="modal-footer justify-content-center bg-light">
	<button type="button" class="btn btn-primary" data-dismiss="modal">Understood</button>
</div>